{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <h1><a href="http://www.sonysugar.co.ke" target="_blank">Welcome to SonySugar on the Web</a></h1>
    <p><em>Supercharge your operations TODAY!!! Secure your data and assets, manage realtime response to issues that matter on mobile and across the web.</a></em><a href="#">GET STARTED</a></p>
    <hr>
    <h3>Online IT Customer Support</h3>
    <p><em>IT issues bugging you?</em></p>
        <ul>
            <li><p><em><a href="#" target="_blank">Get IT Support NOW!!!</a></em></p></li>
        </ul>
    <h3>Meetings and Operations Management</h3>
    <em>Plan, Do, Check, Repeat</em>
    <p>
        <ul>
            <li>
                <h4>Meetings</h4>
                    <ul>
                        {% for meeting in meetings %}
                            <li>
                                <a href="{% url 'detail' meeting.id %}">
                                    {{meeting.title}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                <p>Show all available meeting rooms. <a href="{% url 'rooms' %}" target="_blank">Show all available meeting rooms</a> </p>
            </li>
        </ul>
    </p>
    <h3>Polls</h3>
    <p><em>Monitor online polls and survey.</em></p>
    <ul>
        <li>
             <p>There are currently {{num_polls}} polls scheduled as of {{today}}</p>
             <p><em><a href="#">Vote! Vote! Vote!</a></em></p>
        </li>
    </ul>
    <h3>Key Performance Indicators (K.P.Is)</h3>
    <p><em>Manage not just your data, but your risks and metrics too.</em></p>
    <p>
        <ul>
            <li><p><em><a href="#">See What Your Data Says...</a></em></p></li>
        </ul>
    </p>
    <h3>Online Inventory Management</h3>
    <p><em>Manage your assets in realtime and paperless. </em></p>
    <p>
        <ul>
            <li><p><em><a href="#">Take Charge...</a></em></p></li>
        </ul>
    </p>
    <h3>SonySugar Weather Station</h3>
    <p><em>We've put SonySugar Weather Station Online.</em></p>
    <p>
        <ul>
            <li><p><em><a href="#">See More...</a></em></p></li>
        </ul>
    </p>
    <h3>Leave your comments...</h3>
    <form action="#">
        <p><label for="#">Email: </label><input type="email" name="Email" id="email"></p>
        <label>Your comments:</label>
        <p><textarea name="" id="" cols="50" rows="10" placeholder="SonySugar Simply the Sweetest..."></textarea></p>
        <p><input type="button" value="Submit"></p>
    </form>
    <hr>
{% endblock %}