<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1><a href="http://www.sonysugar.co.ke" target="_blank">Welcome to SonySugar on the Web</a></h1>
    <p><em>Supercharge your operations TODAY!!! Secure your data and assets, manage realtime response to issues that matter on mobile and across the web.</a></em><a href="#">GET STARTED</a></p>
    <hr>
    <h3>LAN Support</h3>
    <p><em>Get IT Support NOW!!!</em></p>
    <h3>Meetings</h3>
    <p>You have {{num_meetings}} meetings scheduled.</p>
    <h3>Polls</h3>
    <p><em>Monitor online polls and survey.</em></p>
    <ul>
        <li>
             <p>There are currently {{num_polls}} polls scheduled as of {{today}}</p>
        </li>
    </ul>
    <h3>Key Performance Indicators (K.P.Is)</h3>
    <p><em>Manage not just your data, but your metrics too</em></p>
    <h3>Inventory</h3>
    <p><em>Manage your assets securely, real-time and paperless </em></p>
    <h3>SonySugar Weather Station</h3>
    <p><em>See the weather from SonySugar weather station</em></p>
    <h3>Leave your comments...</h3>
    <p><em>Please do me</em></p>
    <hr>
</body>
</html>