<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to SonySugar Web</h1>
    <p><em><a href="http://www.sonysugar.co.ke" target="_blank">Business on the web</a></em></p>
    <hr>
    <h3>Meetings</h3>
    <p>There are currently {{num_meetings}} meetings scheduled</p>
    <h3>Polls</h3>
    <p>There are currently {{num_polls}} polls scheduled, {{active_polls}} active polls, and {{completed_polls}} completed polls as of {{today}}</p>
</body>
</html>